# Dependencias
node_modules/

# Builds de VS Code Extension
out/
dist/
*.vsix

# Archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode local settings
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Env files
.env
.env.*
